<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_vpn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".AppVpnApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_vpn"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:theme, android:name"
        tools:targetApi="31">
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544~3347511713" />-->
                <meta-data
                    android:name="com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-6756127155027324~6524013225" />
        <activity
            android:name=".ui.pay.GetPremiumActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".ui.auth.signup.VerifyActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true" />
        <activity
            android:name=".ui.pay.PaymentVipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashTheme"
            android:exported="true"
            android:theme="@style/ThemeSpl" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.signup.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.App_vpn" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.signup.verify.VerificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.signup.verify.SuccessActivity"
            android:exported="true" /> <!-- Bên VPN -->
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service> <!-- Disconnect VPN Activity -->
        <activity
            android:name="de.blinkt.openvpn.activities.DisconnectVPN"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />

        <receiver
            android:name=".util.MyVpnStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.VPN_STATUS"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>